<div class="container">
  <div *ngIf="!isLoggedIn">
    <div class="header">Login</div>
    <form [formGroup]="form" class="body" (ngSubmit)="login()">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <br />

      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        type="submit"
      >
        Login
      </button>

      <a style="margin-left: 20px">Don't have a user yet? Register!</a>
    </form>
  </div>
  <div *ngIf="isLoggedIn">
    <div class="header">Welcome, {{ name }}.</div>
  </div>
  <div>
    <div class="header">About</div>
    <img src="assets/images/logo.png" alt="logo" style="width: 95%" />
    <div class="body">
      Welcome to SHOP4YOU. We offer a luxurious shop with the most convenient of
      delivery services. All you need is a user, pick anything you want and need
      from the store, and we'll handle the rest.
    </div>
  </div>
  <div>
    <div class="header">Info</div>
    <div class="body">
      Curret amount of items in the store: {{ itemAmount$ | async }}.
    </div>
    <div class="body">
      Current amount of categories in the store: {{ categoryAmount$ | async }}
    </div>

    <div class="body">
      Number of orders that have been made: {{ numOfOrders$ | async }}
    </div>

    <div *ngIf="isLoggedIn" class="body">
      <h1 *ngIf="currentCartDate">
        Latest cart was created at: {{ currentCartDate | date }}
      </h1>

      <h1 *ngIf="lastOrderDate && !currentCartDate">
        Your latest order was at: {{ lastOrderDate | date }}
      </h1>

      <h1 *ngIf="!lastOrderDate && !currentCartDate">
        Welcome to your first order!
      </h1>
    </div>
  </div>
</div>
