<div class="container">
  <div>
    <div class="header">Login</div>
  </div>
  <div>
    <div class="header">About</div>
    <img src="assets/images/logo.png" alt="logo" style="width: 95%" />
    <div class="body">
      Welcome to SHOP4YOU. We offer a luxurious shop with the most convenient of
      delivery services. All you need is a user, pick anything you want and need
      from the store, and we'll handle the rest.
    </div>
  </div>
  <div>
    <div class="header">Info</div>
    <div class="body">
      Curret amount of items in the store: {{ itemAmount$ | async }}.
    </div>
    <div class="body">
      Current amount of categories in the store: {{ categoryAmount$ | async }}
    </div>

    <div class="body">
      Number of orders that have been made: {{ numOfOrders$ | async }}
    </div>
  </div>
</div>
