<div class="container">
  <app-cart></app-cart>
  <div class="categories">
    <button
      mat-button
      class="category"
      #all
      (click)="toggleCategory(all, null)"
      id="all"
    >
      All
    </button>
    <button
      mat-button
      #_category
      *ngFor="let category of categories"
      class="category"
      (click)="toggleCategory(_category, category._id)"
    >
      {{ category.name }}
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="search" (ngModelChange)="searchItems()" />
    </mat-form-field>
  </div>

  <div class="items" *ngIf="selectedItems">
    <app-item *ngFor="let item of selectedItems" [id]="item._id"></app-item>
  </div>
</div>
