html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(173, 230, 190);
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding-top: 3.35%;
  height: 100%;
  width: 100%;
}
